examples/KP/
examples/KP/05_analysis
examples/KP/05_analysis/busco
examples/KP/05_analysis/busco/run_enterobacteriaceae_odb12
examples/KP/05_analysis/busco/run_enterobacteriaceae_odb12/missing_busco_list.tsv
examples/KP/05_analysis/busco/run_enterobacteriaceae_odb12/short_summary.txt
examples/KP/05_analysis/busco/run_enterobacteriaceae_odb12/short_summary.json
examples/KP/05_analysis/busco/run_enterobacteriaceae_odb12/full_table.tsv
examples/KP/05_analysis/busco/logs
examples/KP/05_analysis/busco/logs/hmmsearch_err.log
examples/KP/05_analysis/busco/logs/busco.log
examples/KP/05_analysis/busco/logs/bbtools_err.log
examples/KP/05_analysis/busco/logs/prodigal_err.log
examples/KP/05_analysis/busco/logs/hmmsearch_out.log
examples/KP/02_assemblies
examples/KP/02_assemblies/assembly_06_miniasm.out
examples/KP/02_assemblies/assembly_02_flye.gfa
examples/KP/02_assemblies/assembly_03_flye.gfa
examples/KP/02_assemblies/assembly_06_raven.gfa
examples/KP/02_assemblies/assembly_07_raven.out
examples/KP/02_assemblies/assembly_03_flye.err
examples/KP/02_assemblies/assembly_02_flye.err
examples/KP/02_assemblies/assembly_06_raven.err
examples/KP/02_assemblies/assembly_01_raven.out
examples/KP/02_assemblies/assembly_05_miniasm.gfa
examples/KP/02_assemblies/assembly_03_miniasm.out
examples/KP/02_assemblies/assembly_08_flye.err
examples/KP/02_assemblies/assembly_04_flye.out
examples/KP/02_assemblies/assembly_05_flye.out
examples/KP/03_autocycler
examples/KP/03_autocycler/consensus_assembly.fasta.map-ont.mmi
